<footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit">
                <h1 class="logo-wrap">
                    <a href="<%- url_for() %>" class="logo"></a>
                </h1>
                <p>&copy; <%= date(new Date(), 'YYYY') %> <a href="<%= config.homepage_domain %>" target="_blank"><%= config.author || config.title %></a></p>
                <p><%= config.description %></p>
            </div>
        </div>
    </div>
</footer>